<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>

  <mirrors>
    <mirror>
      <id>forgemre</id>
      <name>Forge MRE</name>
      <url>http://nexus.mre.pub/content/groups/public</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>local</id>
      <properties>
        <env>LOCAL</env>

        <!-- Configuration -->
        <!-- BDD -->
        <db.driver>org.postgresql.Driver</db.driver>
        <db.database>atn1</db.database>
        <db.port>5432</db.port>
        <db.server>localhost</db.server>
        <db.user>atn</db.user>
        <db.password>atn</db.password>
        <db.jdbc>jdbc:postgresql://localhost:5432/atn</db.jdbc>

        <!-- GWT -->
        <gwt.module>com.groupemre.atnv2.ihm.Atnv2Dev</gwt.module>
        <gwt.style>PRETTY</gwt.style>
        <gwt.log>INFO</gwt.log>
        <gwt.draft>true</gwt.draft>
        <!-- Backend -->
        <server.generatedFiles.directory>/tmp</server.generatedFiles.directory>

        <!-- Déploiement -->
        <!-- SSH -->
        <deploy.sshkeyfile>/home/user/.ssh/id_rsa</deploy.sshkeyfile>


        <!-- Nginx -->
        <nginx.host>localhost</nginx.host>
        <!-- GWT -->
        <gwt.host>localhost</gwt.host>
        <gwt.user>user</gwt.user>
        <gwt.deploy.path>/var/atnv2/frontend</gwt.deploy.path>

        <!-- Tomcat -->
        <tomcat.host>localhost</tomcat.host>
        <tomcat.user>user</tomcat.user>
        <tomcat.port>8888</tomcat.port>
        <tomcat.catalina.base>/var/atnv2/backend</tomcat.catalina.base>
        <tomcat.webapp.path>ROOT</tomcat.webapp.path>

        <multirouter.smartjog.certificat>/home/backend/certificats/catalogueTest/</multirouter.smartjog.certificat>
        <!-- <multirouter.smartjog.certificat.password>innovation</multirouter.smartjog.certificat.password> -->
        <multirouter.smartjog.certificat.password>2316</multirouter.smartjog.certificat.password>
        <multirouter.smartjog.id.catalog>10977</multirouter.smartjog.id.catalog>
        <multirouter.smartjog.id.server.local>8674</multirouter.smartjog.id.server.local>
        <multirouter.smartjog.mediavision.billto>9199SJ82991</multirouter.smartjog.mediavision.billto>
        <multirouter.smartjog.ftp.host>10.196.165.232</multirouter.smartjog.ftp.host>
        <multirouter.smartjog.ftp.mdp>5KGoesrr</multirouter.smartjog.ftp.mdp>
        <multirouter.globecast.local.services.address>http://10.196.164.15:9090</multirouter.globecast.local.services.address>
        <multirouter.smartjog.id.ba.directory.catalog>17303165</multirouter.smartjog.id.ba.directory.catalog>
        <multirouter.smartjog.id.generale.directory.catalog>25371825</multirouter.smartjog.id.generale.directory.catalog>


        <!-- 10.196.164.31 -->
        <multirouter.backup.smartjog.ftp.host>INTEGMDSWEB.mre.pub</multirouter.backup.smartjog.ftp.host>
        <multirouter.backup.smartjog.ftp.port>21</multirouter.backup.smartjog.ftp.port>
        <multirouter.backup.smartjog.ftp.login>adminmv</multirouter.backup.smartjog.ftp.login>
        <multirouter.backup.smartjog.ftp.mdp>innovation</multirouter.backup.smartjog.ftp.mdp>

        <!--<multirouter.backup.smartjog.ftp.host>preprodbatchs</multirouter.backup.smartjog.ftp.host>-->
        <!--<multirouter.backup.smartjog.ftp.port>21</multirouter.backup.smartjog.ftp.port>-->
        <!--<multirouter.backup.smartjog.ftp.login>atn</multirouter.backup.smartjog.ftp.login>-->
        <!--<multirouter.backup.smartjog.ftp.mdp>atn</multirouter.backup.smartjog.ftp.mdp>-->

        <scheduler.cron.server.state>0 0/5 * * * ?</scheduler.cron.server.state>

        <linux.repertoire.spot>/mnt/N/spots/</linux.repertoire.spot>
        <windows.repertoire.spot>D:\Lecteur N\spots\</windows.repertoire.spot>
        <linux.repertoire.playlist>/mnt/N/playlists/</linux.repertoire.playlist>
        <playlist.issuer>Mediavision</playlist.issuer>
        <playlist.contentKind>Advertissement</playlist.contentKind>

        <!-- Conf USB (ELLE qui est utilisee EST EN BASE donc elle devrait etre inutile) -->
        <copy.usb.xml.path>/mnt/archives/GROUPS/COMMUNS/ATNV2/USB/Recette</copy.usb.xml.path>
        <copy.usb.windows.xml.path>\\\\10.196.164.108\\archives\\GROUPS\\COMMUNS\\ATNV2\\USB\\Recette</copy.usb.windows.xml.path>

        <!-- Mail -->

        <mail.host.url>smtp.gmail.com</mail.host.url>
        <mail.host.port>587</mail.host.port>
        <mail.username>atliernumrecette</mail.username>
        <mail.password>innovation12</mail.password>
        <mail.userMail>${mail.username}@gmail.com</mail.userMail>
        <!-- Valeur optionnel -->
        <mail.ccMail>${mail.username}@gmail.com</mail.ccMail>
        <!-- Temps en ms de fréquence d'envoie des mails, possible de ne rien mettre -->
        <mail.send.frequency>1500</mail.send.frequency>
        <!-- Valeur possible :TLS,SSL,"rien" -->
        <mail.security.protocol>TLS</mail.security.protocol>


      </properties>
    </profile>
  </profiles>
  <activeProfiles/>
</settings>
